body {
    background: #cb73c8;
}

.AlgoRandom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}

button {
    width : 20%;
    margin : auto
}